@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Libre+Barcode+128+Text&family=Press+Start+2P&family=Russo+One&display=swap");

html {
  background-color: #212121;
}

.headerContainer {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  margin: 0 2vw 0 2vw;
  font-family: "Libre Barcode 128 Text", cursive;
  font-size: 25px;
  color: white;
}

.headerContainer > h1 {
  transition: all 0.2s ease-in-out;
}

.headerContainer > h1:hover {
  cursor: pointer;
  transform: scale(1.02);
  color: aqua;
}

.NavContainer {
  display: flex;
  justify-content: center;
}

.NavItemsContainer {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.NavItemsContainer > li {
  padding: 0 2vw 0 2vw;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 15px;
  transition: all 0.2s ease-in-out;
}

.NavItemsContainer > li:hover {
  font-size: 15px;
  color: aqua;
  cursor: pointer;
  transform: scale(1.1);
}

.profilePic {
  border-radius: 50%;
  width: 200px;
  height: 230px;
}

.landingPageContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-top: 17vh;
  color: white;
}

.landingPageContainer > h1,
h2 {
  margin: 8px;
}

.aboutPageContainer {
  display: flex;
  /* justify-content: space-between; */
  align-items: left;
  flex-direction: column;
  color: white;
  padding: 2em;
}

.footer {
  position: absolute;
  bottom: 9px;
}
.footer > a {
  color: aqua;
}

.socialMediaIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  /* flex-direction: column; */
}

.socialMediaIcons > img {
  width: 30px;
  padding: 0 1vw 0 1vw;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.socialMediaIcons > img:hover {
  transform: scale(1.1);
}
